#cloud-config
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLeEPYN59CR5b4y2kGqc6xfUyAenB1Q6TZuRBr9tce9rn4GeVcZXjRgHnBlXKfxMy0rq5tmes6jc9Tjz5uKLozj9Jd0Lwq9JikNmCLkZOBTjmL0U9V76Zl0co4YWbypEYlUPS1jVy6aCFGeuR7OzpsVoHQUeeBsTdYP7qZPoEHYa6mPKUMH4Qqj7Kptc7buXW+i9D0sgG8IMmUyJXKsgpTVGV/Ql/FCPnW2Cr/d/4MxFrPIN3xqGc5ImwZZ0yKTemvtiTGEVQnnqWC8VxebQIcsvYgUD6ioQlXXvpHms3ab/NrrsxbuKag7HhU18NuVnEZMXKmEzR/bYul421EXy/x mrs@miracle.dk
